/*
    Created on : 12 ene. 2021, 15:07:21
    Author     : Adria V., Felipe Z.
*/

/* BASIC RULES AND DEIFINITIONS */
.root {
    -back-color: white;
    -bar-back-color: derive(-back-color, -20%);
    -button-color: derive(-bar-back-color, -40%);
    -button-pressed: derive(-button-color, -20%);
    -fx-background-color: -back-color;
}

.text {
    -fx-fill: black;
}

.label {
    -fx-text-fill: black;
}

.button {
    -fx-background-color: -button-color;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.button:armed, button:pressed {
    -fx-border-color: derive(-button-pressed, 10%);
    -fx-background-color: -button-pressed;
}

.toggle-button {
    -fx-background-color: white;
    -fx-background-radius: 6;
}

.toggle-button:selected {
    -fx-border-color: white;
    -fx-border-width: 6;
    -fx-border-radius: 3;
    -fx-background-color: black;
}

/* HEADER RULES */
.header {
    -fx-background-color: black;
}

.header-text {
    -fx-fill: white;
}

/* TOOLBAR RULES*/
.toolbar {
    -fx-background-color: -bar-back-color;
}

/* CHART RULES */
.default-color0.chart-series-line {
    -fx-stroke: black;
}
